.morado{
    width: 100px;
    height: 100px;
    background: blueviolet;
    margin-bottom: 10px;
    display: block;
}

.azul{
    width: 100px;
    height: 100px;
    background:blue;
    margin-bottom: 10px;
    display:inline-block;
}

.amarillo{
    width: 100px;
    height: 100px;
    background:yellow;
    margin-bottom: 10px;
    display:inline;
}

.rosa{
    width: 100px;
    height: 100px;
    background:pink;
    margin-bottom: 10px;
    display:none;
}   