.container{
    background-color: #fc0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.face{
    font-size: 100px;   
}
.mood{
    width:75px ;
    height: 30px;
    border-radius: 8px;
}
.button{
    width:75px ;
    height: 30px;
    border-radius: 8px;
    background-color:rgb(48, 103, 148);
    color: white;
}
