.container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
}
.download {
    color: grey;
    text-decoration: none;
}
.type {
    background-color: red;
    padding: 3px;
    border-radius: 6px;
    color: white;
}
